h1 {
    color: #66fcf1
}
img {
    border-radius: 20px;
}

/* Основные стили */
body {
    font-family: 'Comfortaa', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0b0c10;
    color: #c5c6c7;
}

header, footer {
    background-color: #1f2833;
    color: white;
    padding: 10px 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

a {
    color:  #cefffc;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

.navbar a {
    color: white;
    text-decoration: none;
}

.footer-content {
    text-align: center;
    padding: 15px;
}

.footer-content p {
    margin: 5px 0;
}
